* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	cursor: pointer;
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
address {
	font-style: normal;
}
@font-face {font-family: MontserratSubrayada;font-display: swap;src: url("../assets/fonts/MontserratSubrayada-Bold.woff2") format("woff2");font-weight: 700;font-style: normal;}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?1043ec3add8652da6ffe67b24d392d2b") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-success"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-star"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-right"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-marsuccess"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-back"]::before { 
		content: "\f105"; 
	} 



/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: #000;
  font-family: "Montserrat";
  font-size: 1rem;
  background-color: #FFFFFF;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 89.375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.select {
  min-width: 0;
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  border: 0.0625rem solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 0.4375rem;
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 1.875rem;
  gap: 0.625rem;
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value:after {
  font-size: 0.625rem;
  font-family: iconfont;
  content: "\f101";
  align-self: stretch;
  flex: 0 0 0.625rem;
  color: #656565;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.--select-open .select__value:after {
  transform: rotate(-180deg);
}
.select__value.--select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__content {
  flex: 1 1 auto;
  padding: 0 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #737373;
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__input {
  padding: 0 0.625rem;
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.--select-active .select__input::placeholder {
  color: #000;
}
.--select-focus .select__input::placeholder {
  opacity: 0.5;
}
.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 0.25rem 0.25rem;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 0.0625rem solid #d9d9d9;
  border-top: 0;
  padding: 0.625rem 0rem 0.3125rem 0rem;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}
.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 0.3125rem 0.625rem;
  color: inherit;
}
.select__option.--select-selected {
  background-color: #eee;
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  border: 0.0625rem solid #d9d9d9;
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.3125rem 0rem 0.625rem 0rem;
}
.--select-tag {
  cursor: pointer;
}

.select__title.--form-success .select__content {
  color: #000000;
}/* Generated by vite-plugin-svg-spritemap */
input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0.625rem;
  border: 0.0625rem solid #eee;
  caret-color: inherit;
}
.input[placeholder]:not([data-fls-placeholder-nohiden])::placeholder {
  transition: opacity 0.3s;
}
.input[placeholder]:not([data-fls-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

textarea.input {
  resize: vertical;
  padding: 0rem 0rem;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.qs-datepicker-container {
  margin: 0.3125rem;
  font-size: 1rem;
  font-family: sans-serif;
  color: #000;
  position: absolute;
  width: 15.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background: #000;
  -webkit-box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  border-right: 0.0625rem solid #fff;
  border-left: 0.0625rem solid #f1ad70;
  padding: 0.3125rem;
}
.qs-datepicker-container:before, .qs-datepicker-container:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  left: 0;
  z-index: 2;
  position: absolute;
  background-image: linear-gradient(to right, #f1ad70 0%, #fffdf2 100%);
}
.qs-datepicker-container:before {
  top: 0;
}
.qs-datepicker-container:after {
  bottom: 0;
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qs-datepicker-container.qs-hidden {
  display: none;
}

.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 0.0625rem solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-datepicker .qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-datepicker .qs-overlay .qs-submit {
  border: 0.0625rem solid #fff;
  border-radius: 0.26392em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: hsla(0, 0%, 50.2%, 0.4);
}

.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}

.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.qs-datepicker .qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-datepicker .qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #000;
  color: #fff;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(0.3125rem);
  filter: blur(0.3125rem);
}

.qs-datepicker .qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: 0.26392em;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-datepicker .qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000;
}

.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000;
}

.qs-datepicker .qs-arrow:after {
  content: "";
  border: 0.39062em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}

.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.qs-datepicker .qs-month-year {
  font-weight: 700;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.qs-datepicker .qs-month-year:hover {
  border-bottom: 0.0625rem solid grey;
}

.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: none;
}

.qs-datepicker .qs-month {
  padding-right: 0.5ex;
}

.qs-datepicker .qs-year {
  padding-left: 0.5ex;
}

.qs-datepicker .qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(0.3125rem);
  filter: blur(0.3125rem);
}

.qs-datepicker .qs-square {
  width: 14.28571%;
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 0.26392em;
}

.qs-datepicker .qs-square.qs-current {
  font-weight: 700;
}

.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline;
}

.qs-datepicker .qs-square.qs-active {
  background: #fff;
  color: #000;
}

.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2;
}

.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-datepicker .qs-square.qs-disabled span {
  opacity: 0.2;
}

.qs-datepicker .qs-square.qs-empty {
  cursor: default;
}

.qs-datepicker .qs-square.qs-disabled {
  cursor: not-allowed;
}

.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 700;
  color: grey;
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: orange;
}

.qs-datepicker .qs-event {
  position: relative;
}

.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.home-page__header .header-top__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-page__header .header-top__logo {
  color: #000000;
  font-weight: 600;
  font-size: 1.5rem;
}
.home-page__header .header-top__logo img {
  margin-inline-end: 2.5rem;
}
.home-page__header .header-top__contacts {
  color: #000000;
  font-weight: 700;
  font-family: "Roboto";
}
.home-page__header .header-bottom {
  background-color: #000000;
}
.home-page__header .header-bottom {
  padding-block-end: 0.3125rem;
}
.home-page__header .header-bottom p {
  font-family: "Inter";
}
.home-page__header .header-bottom p {
  color: #A2A2A2;
  text-align: right;
}

body:has(.quote-page) .home-page__header-bottom {
  display: none;
}

@media (width <= 40.6875em) {
  .home-page__header .header-top__logo {
    max-width: 11.3125rem;
  }
  .home-page__header .header-top__logo span {
    display: none;
  }
  .home-page__header .header-top__contacts {
    font-family: "Roboto";
  }
  .home-page__header .header-bottom p {
    text-align: left;
    font-weight: 700;
  }
}

@media (width <= 20em) {
  .home-page__header .header-top {
    padding-block: 0.5rem;
  }
  .home-page__header .header-top__contacts {
    font-size: 1.25rem;
  }
  .home-page__header .header-bottom {
    padding-block-start: 0.3125rem;
  }
  .home-page__header .header-bottom p {
    font-size: 0.6875rem;
  }
}

@media (width > 20em) and (width <= 89.375em) {
  .home-page__header .header-top {
    padding-block: clamp( 0.3125rem , 0.55405405405625rem  +  -0.2702702703vw , 0.5rem );
  }
  .home-page__header .header-top__contacts {
    font-size: clamp( 1.25rem , 1.177927927925rem  +  0.3603603604vw , 1.5rem );
  }
  .home-page__header .header-bottom {
    padding-block-start: clamp( 0.3125rem , 0.16835585585625rem  +  0.7207207207vw , 0.8125rem );
  }
  .home-page__header .header-bottom p {
    font-size: clamp( 0.6875rem , 0.45326576576875rem  +  1.1711711712vw , 1.5rem );
  }
}

@media (width > 89.375em) {
  .home-page__header .header-top {
    padding-block: 0.3125rem;
  }
  .home-page__header .header-top__contacts {
    font-size: 1.5rem;
  }
  .home-page__header .header-bottom {
    padding-block-start: 0.8125rem;
  }
  .home-page__header .header-bottom p {
    font-size: 1.5rem;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}